.MoviePoster-Wrapper {
    height: 320px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;

    &_inner {
        height: 415px;
        width: 280px;
    }

    &_small {
        width: 110px;
        height: 170px;
    }
}

.MoviePoster-Image {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

