.MovieItem-Row {
    margin-bottom: 15px;
}

.MovieItem-Label {
    display: inline-block;
    margin-right: 10px;
    color: #8f95a3;
    min-width: 100px;
}

.MovieInfo-Value {
    color: #fafafa  ;
}
