.Movie-Card {
    width: 220px;
    box-sizing: border-box;
    margin-bottom: 25px;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid rgba(#fafafa, .3);
    transition: border-color .15s linear;
    margin-right: 17px;

    &:nth-child(5n + 5) {
        margin-right: 0;
    }

    &:hover {
        border-color: #f26739;

        .Movie-Title {
            opacity: 0;
        }
    }
}

.Movie-Title {
    color: #fafafa;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #f26739;
    transition: opacity .15s linear;
}

