.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .8);
    transition: all .1s linear;
}

.Modal-Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    overflow-x: auto;
    max-width: calc(100% - 20px);
    max-height: calc(100vh - 20px);
    background: #fafafa;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #f26739;
    min-height: 130px;
}
